.register-container {
  width: 350px;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 10px;
}


